@model UselessCMS.Models.Sections.CharacterValueSectionViewModel

<div class="card">
    <div class="card-header">
        @Model.Title
        <form asp-controller="Character" asp-action="AddValueEntry" enctype="multipart/form-data" method="get" role="form">
            <input name="entryType" value="@Model.ValueEntryType" type="hidden" />
            <input name="id" value="@Model.CharacterId" type="hidden" />
            <select name="valueVal">
                @foreach (var option in Model.Values)
                {
                    <option value="@option.ID">@option.Name</option>
                }
            </select>
            <button type="submit" class="btn btn-success"><i class="fas fa-fw fa-check"></i></button>
        </form>
    </div>
    <div class="card-body">
        <h4 class="card-text">
            <ul>
                @foreach (var valueVal in Model.Values)
                {
                    <li>
                        @valueVal.Name (+@valueVal.ValueCount)
                        @if (valueVal.UserHasSelected)
                        {
                            <i class="fas fa-fw fa-check"></i>
                            <a href="@Url.Action("RemoveValueEntry","Character", new { entryType=Model.ValueEntryType, id=Model.CharacterId, valueVal=valueVal.ID })"><i class="fas fa-times-circle fa-fw"></i></a>
                        }
                    </li>
                }
            </ul>
        </h4>
    </div>
</div>