@model UselessCMS.Models.Characters.GameCharactersPageViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="display-4 mb-4">Character Manager <span class="float-right"><i class="fas fa-user-ninja"></i><i class="fas fa-user-astronaut"></i><i class="fas fa-user-nurse"></i></span></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <h5 class="card-header">@Model.Game.Name <span class="float-right"><img height="50px" width="50px" src="@Url.Action("GameLogo","Game", new { id = Model.Game.Id })" /></span></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="@Url.Action("Add","Character", new { gameId = Model.Game.Id })" class="btn btn-success mb-4"><i class="fas fa-plus"></i> <i class="fas fa-user-ninja"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <span>@Model.Characters.Count() characters</span>
        </div>
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var character in Model.Characters)
                    {
                        <tr>
                            <td><img height="50px" width="50px" src="@Url.Action("IconImage","Character", new { id = character.Id })" /></td>
                            <td>@character.Name</td>
                            <td>
                                <div class="float-right btn-group">
                                    <a class="float-right btn btn-success" title="Profile" href="@Url.Action("Index","Character", new { id = character.Id })"><i class="fas fa-fw fa-user-circle"></i></a>
                                    <a class="confirmation float-right btn btn-danger" title="Delete" href="@Url.Action("Delete","Character", new { id = character.Id, gameId = Model.Game.Id })"><i class="fas fa-fw fa-trash"></i></a>
                                    <a class="float-right btn btn-info" title="Edit" href="@Url.Action("Edit","Character", new { id = character.Id })"><i class="fas fa-fw fa-pen"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>